/*.App {*/
/*  text-align: center;*/
/*}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*.App-header {*/
/*  background-color: #222;*/
/*  height: 150px;*/
/*  padding: 20px;*/
/*  color: white;*/
/*}*/

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#app {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
}



/* Custom Styles */ 

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-bottom: 1px solid rgb(228, 228, 228);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  box-sizing: border-box;
  top: 0;
  width: 100%;
}

#abnb-logo {
  height: 34px;
  width: 34px;
  padding: 4px 23px;
}

#nav-right {
  margin-left: 85% !important;
}



/* Listing LIST*/

.listing-list a:hover {
	text-decoration: none;
}

.listing-list img {
	max-width: 300px;
}

.listing-list ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.listing-list ul li {
	width: 100%;
	max-width: 333px;
	margin: 15px 5px;
	cursor: pointer;
}

.listing-list .listing-list-img-box {
	width: 100%;
}

.listing-list .listing-list-title {
	color: #484848;
	font-size: 15px;
	margin: 8px 0;
	font-weight: 700;
}

.listing-list .listing-list-desc {
	color: #484848;
	font-size: 15px;
	margin: 8px 0;
}

.header-greeting h1 {
	font-size: 48px;
}

.header-greeting strong {
	color: #ff5a5f;
	font-weight: bold;
}

.listing-list-img {
	padding-top: 67%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.listing-page-img {
	padding-top: 40%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
/*.listing-page-title h2 {*/
/*	margin-top: 20px;*/
/*	margin-bottom: 0px;*/
/*	font-size: 36px;*/
/*	font-weight: 700px;*/
/*	letter-spacing: 0.4px;*/
/*}*/



/* LISTING PAGE */

.listing-page {
	display: flex;
	justify-content: space-around;
	padding-bottom: 75px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 17px;
}

.listing-detail {
	flex: 1;
	max-width: 705px;
}

.listing-detail .listing-detail-bottom {
	padding-bottom: 10px;
	border-bottom: 1px solid grey;
}

.listing-detail .rm-listing-title {
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
}

.listing-detail .rm-listing-title h2 {
	font-size: 30px;
}

.listing-detail .listing-detail-title p {
	color: grey;
	font-size: 16px;
}

.listing-detail .listing-icon-list {
	display: flex;
	justify-content: space-around;
	margin: 15px 0;
}

.listing-detail .listing-icon-list img {
	display: block;
	margin: 0 auto;
}

.listing-detail .listing-icon-list p {
	color: grey;
	margin: 6px 0 0 0;
}

.listing-detail .listing-refund {
	display: flex;
	padding: 10px 0;
}

.listing-detail .listing-refund img {
	margin: 0 20px;
}

.listing-detail .listing-refund strong, .listing-detail .listing-refund p {
	font-size: 15px;
}

.listing-detail .host-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 0;
}

.listing-detail .host-container img {
	border-radius: 50px;
	width: 65px;
}

.listing-detail .host-container p {
	margin: 7px 0;
}

.listing-detail .listing-detail-box {
	display: center;
}

/*.listing-detail .listing-detail-box .box-title {*/
/*	width: 200px;*/
/*}*/

/*.listing-detail .listing-detail-box .box-info {*/
/*	flex: 1;*/
/*}*/

.listing-detail .listing-detail-box ul {
	list-style: none;
	padding: 0;
	width: 50%;
}

.listing-detail .listing-detail-box ul li {
	font-size: 17px;
	padding: 5px 0;
}

.listing-detail .listing-detail-box ul li strong {
	font-size: 18px;
}

/*.listing-detail .listing-detail-box .listing-detail-list {*/
/*	display: flex;*/
/*	justify-content: space-between;*/
/*}*/

.listing-detail .price-disclaimer {
	font-size: 13px;
}

.listing-detail .price-disclaimer p {
	font-size: 13px;
}

.listing-detail .listing-detail-amen {
	font-weight: bolder;
}

.listing-detail .no-amen {
	color: grey;
	text-decoration: line-through;
}
/*.form-control {*/
/*  width: 100px !important;*/
/*  display: flex;*/
/*}*/


/*NEW LISTING FORM*/

.new-listing-form-box {
	display: flex;
	flex-direction: row;
}

.new-listing-form {
	width: 50%;
	display: flex;
	flex-direction: column;
	width: 75%;
	padding-top: 20px;
	padding-left: 75px;
	padding-right: 75px;
	padding-bottom: 50px;
}

.new-listing-form input {
	display: block;
	height: 30px;
	padding-left: 10px;
	font-size: 16px;
	vertical-align: middle;
}

.new-listing-form textarea {
	padding-top: 8px;
	padding-left: 15px;
	height: 50px;
	font-size: 14px;
}

.new-listing-form .padder {
	height: 10px;
}

.new-listing-form h2 {
	margin: 0;
	padding-top: 15px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 20px;
}

.new-listing-form h3 {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: lighter;
	color: grey;
}

.new-listing-form select {
	height: 40px;
	font-size: 16px;
	appearance: none;
	border-radius: 4px;
}

.new-listing-form select option {
	align-items: center;
}

.new-listing-form button {
	margin-top: 20px;
	cursor: pointer;
	background: #ff5a5f;
	color: white;
	border: none;
	border-radius: 5px;
	height: 50px;
	font-size: 24px;
}

.new-listing-form button:hover {
	background: orange;
}




/*Gmaps Airbrb styles*/

/*.listings-map-main-container {*/
/*  min-width: 100px;*/
/*  padding-top: 0px;*/
/*}*/

.map-search-container {
  /*display: flex;*/
  position: relative;
  /*top: 200px;*/
  padding-top: 15px;
  right: 0px;
  float: right;

}
/*.map-search {*/
/*  width:100%;*/
/*  height: 78vh;*/
/*}*/


.map-price-container {
  overflow: visible !important;
}

.map-price-marker {
  position: absolute;
  font-family: 'Helvetica';
  left: -37px;
  top: -25px;
  width: 70px;
  height: 20px;
  border-radius: 3px;
  line-height: 22px;
  background-color: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07);
  text-align: center;
  color: black;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid gray;
  z-index: 1;
}
.map-price-marker:before,
.map-price-marker:after {
  position: absolute;
  content: "";
  border-style: solid;
}

.map-price-marker:after {
  left: 31px;
  top: 19px;
  border-width: 5px;
  border-color: white transparent transparent;
}

.map-price-marker:before {
  left: 30px;
  top: 20px;
  border-width: 6px;
  border-color: gray transparent transparent;
}

.map-price-marker.visited:hover {
  background-color: #7b8d93;
  color: #fff;
  border-color: #5b6a6f;
}

.map-price-marker.visited:hover:after {
  border-color: #7b8d93 transparent transparent;
}

.map-price-marker.visited:hover:before {
  border-color: #5b6a6f transparent transparent;
}

.map-price-marker:hover {
  background-color: #f2f2f2;
  color: black;
  border-color: gray;
  z-index: 5;
}

.map-price-marker:hover:after {
  border-color: #f2f2f2 transparent transparent;
}

.map-price-marker:hover:before {
  border-color: gray transparent transparent;
}



/* ABOUT */

.about {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
}

.about h3 {
	font-size: 16px;
}
